{% extends 'base.html' %}

{% block content %}
<section class="latest-blog-section section-gap dark-bg" id="blog">
	<div class="container">
		<div class="section-title white-color mb-30" style="margin-top: 100px">
			<span class="title-tag">Noticias - Eventos</span>
			<h2 class="title"> Blog </h2>
		</div>
		<div class="row latest-blog-posts justify-content-center">

			{% for new in news %}
			<div class="col-lg-4 col-md-6 col-sm-10 wow fadeInLeft">
				<a href="{{new.slug}}">
					<div class="latest-blog-post">
						<div class="blog-thumb">
							<img class="thumb" src="../media/{{ new.image }}"></img>
							<span class="blog-date">{{ new.creation_date }}</span>
						</div>
						<div class="blog-desc">
							<h3 class="title">
								{{ new.title }}
							</h3>
						</div>
					</div>
				</a>

			</div>
			{% endfor %}

		</div>
	</div>
</section>
{% endblock %}